{% extends "./base.html" %}

{% block content %}
{% regroup publishers by publisher as publishers_list %}
<ul>
    {% for publisher in publishers_list %}
        <li>
            {% if publisher.grouper.name %}
                <a href="{% url 'p_library:publisher_detail' publisher.grouper.pk %}">{{ publisher.grouper.name }}</a>
            {% else %}
                Нет издателя
            {% endif %}
                <ul>
                    {% for item in publisher.list %}
                        <li> {{ item.title }}</li>
                    {% endfor %}
                </ul>
        </li>
    {% endfor %}
</ul>

{% endblock %}